.room
  background-color: $lightblue
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

  .content
    background-color: $darkblue
    $d: 485px
    width: $d
    height: $d
    border-radius: 50%
    overflow: hidden

    .shelf
      .part1
        +p($white, 180, 100, 60, -75, 0)
        +t(0, 35, -70)
      .part2
        +p($lightblue, 180, 20, 127, -28.5, 0)
        +t(0,-35,0)
      .part3
        +p($lightblue, 14, 80, 13, 85, 0)
        +t(0,-35,0)
        border-right: $orange solid 3px
      .part4
        +p($darkblue, 60, 50, 34, 25, 0)
        +t(0,25,0)
        z-index: 55
      .part5
        +p($purple, 60, 50, 56, 25, 0)
        +t(0,-15,0)



    .table
      .part1
        +p($white, 325, 190, 172, -22, 0)
        +t(0, 35, -70)
        z-index: 65
      .part2
        +p($purple, 325, 25, 299, 67, 0)
        +t(0,-35,0)
        z-index: 60
      .part3
        +p($orange, 88, 163, 253, 287, 0)
        +t(0,-35,0)
        border-right: 5px solid $white
        .part31
          +p($darkblue, 68, 40, 20, 10, 0)
          .part311
            +p($purple, 65, 37, 3, 3, 0)
          .part312
            +p($darkblue, 11, 14, 15, 30, 50)
        .part32
          +p($darkblue, 68, 80, 70, 10, 0)
          .part321
            +p($purple, 65, 77, 3, 3, 0)
          .part322
            +p($darkblue, 11, 14, 35, 10, 50)
      .part4
        +p($darkblue, 107, 163, 262, 180, 0)
        +t(0,22,0)

    .window
      +p($orange, 60, 150, -43, 305, 0)
      +t(0,20,0)
      .part1
        +p($lightblue, 8, 150, 3, -8, 0)
        +t(0,-40,0)
        border-left: 2px solid $white
      .part21
        +p($darkblue, 8, 150, 3, 60, 0)
        +t(0,-40,0)
      .part22
        +p($darkblue, 20, 150, 7, 60, 0)
        +t(0,2,0)
      .part23
        +p($darkblue, 20, 150, 6, -28, 0)
        +t(0,2,0)

      &.second
        top: -16px
        left: 380px

    .windowsill
      z-index: 40
      +p($white, 22, 80, 73, 310, 0)
      +t(0, 40, -70)
      &.second
        height: 85px
        top: 101px
        left: 395px
      .part1
        +p($purple, 15, 80, 9, -15, 0)
        +t(0, -50, 0)
        &.second
          height: 85px

    .floor
      z-index: 5
      +p($purple, 300, 190, 370, 80, 0)
      +t(0, 35, -70)
